@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

@font-face {
    font-family: "Black Mango SemiBold";
    src: local("Black Mango SemiBold"), url("C:\Users\morei\Documents\ENG DE SOFTWARE 2023.1\DIW\NoMenu\Black Mango SemiBold")
}

.font_theme {
    font-family: "Black Mango SemiBold";
}

.color_text {
    color: #FF6f00;
}

.bg_color_nomenu-orange {
    background-color: #FF914D;
}

.round_edges_15px {
    border-radius: 15px;
}

.round_edges_10px {
    border-radius: 10px;
}

.margin-10px {
    margin: 10px;
}

.star-evaluation {
    display: flex;
}

.center-star {
    width: auto;
    margin: auto;
}

#rating_value {
    margin: 40px auto 0;
    width: 110px;
    padding: 10px 5px;
    text-align: center;
}

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating>.half:before {
    content: '\f089';
    position: absolute;
    cursor: pointer;
}

.rating>label {
    color: lightgrey;
    float: right;
    cursor: pointer;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: yellow;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~input:hover~label {
    color: yellow;
}

.linha1 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#tela {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;

}

.estrelas_media {
    color: yellow;
}



.font_logo {
    font-family: "Black Mango SemiBold";
    padding-left: 16px;
}

.color_theme {
    color: #ff4716;
}

.color_background {
    background-color: #ff4716;
}

header {
    font-family: "TT Commons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
    font-family: "TT Commons", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header_style {
    padding: 0px 20px 0px 0px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_style {
    padding: 0px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.margin_icons {
    margin: 8px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social_icons {
    display: flex;
    justify-content: right;
}

.footer_text {
    font-size: small;
    text-align: justify;
    padding: 0px 15px;
    margin-top: 5px;
}

.footer_h {
    padding: 0px 15px;
}

.reserved_rights {
    font-size: 70%;
    border-radius: 5px;
}

.link_decoration {
    text-decoration: none;
}

.nome-restricao {
    margin: 15px;
}

.text {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    text-indent: 40px;
}

.text-li {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 20px;
    text-align: justify;
}
